/*h1 { color:red;
    border: 2px solid blue;}

li { border: 5px solide yellow;
text-align: center
}

li{
    border: 5px solid orange;
    text-align: center;
    margin : 10px;
    padding: 3%
}

li a{
    color: red
} */

.noway {
    text-decoration: line-throughs
}

#linkedin {
    font-size: 200px;
}
